[Desktop Entry]
Type=Application
Exec=sh -c "cd ~/Voice-Command-Ubuntu/ ; python main.py"
Hidden=false
NoDisplay=false
Terminal=true
Icon=$HOME/Voice-Command-Ubuntu/voice-assistant.png
X-GNOME-Autostart-enabled=false
Name=Voice Assistant
Comment=Voice Control Ubuntu
